@import '~bootstrap/scss/bootstrap';

body {
  color: $default;
}

.modal {
  &-backdrop {
    opacity: 0;
  }
  &-body {
    padding: 0;
  }
  &-content {
    border: 1px solid $default;
    background-color: $dark;
    color: $white;
  }
}

.form-control {
  background-color: $dark;
  color: $white;
  &:focus {
    color: $white;
    border: 1px solid $secondary;
    background-color: $dark;
  }
}

.btn {
  white-space: nowrap;
  font-weight: bold;
  &-sm {
    height: 25px;
    font-size: 12px;
    line-height: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.el-popover {
  padding: 10px;
  background: $dark;
  border: none;
}

.popper__arrow {
  display: none !important;
}
